/*#region UI: Logo */
.Logo {
  align-items: center;
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  margin-left: -2.5rem;
  width: 200px;
}
/*#endregion /UI: Logo */
