/*#region subPageComponent: SubPageHeader */
.SubPageHeader {
  align-items: flex-start;
  background: transparent;
  border-radius: 8px;
  color: #414141;
  display: flex;
  font-size: 1.8rem;
  justify-content: flex-start;
  letter-spacing: 1.6px;
  margin: 1rem 2rem;

  & i {
    margin-right: 1rem;
  }

  .SubPageHeader__container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
/*#endregion /subPageComponent: SubPageHeader */
