/*#region Page: Home */
.Home {
  display: grid;
  grid-template-areas: "patient-list patient-report";
  grid-template-columns: 300px 1fr;
  min-height: 89.5vh;
  max-height: 89.5vh;

  .Home__patientlist {
    background: #414141;
    grid-area: patient-list;
    max-height: 100%;
  }

  .Home__patientreport {
    background: #f0f1f6;
    grid-area: patient-report;
    max-height: 100%;
  }
}

/*#endregion /Page: Home */
